.App {
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.row{
  background: #047ACB;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.publish-button{
  color: white;
  margin-top: 37px;
  font-size: 25px;
text-decoration: none;}
.stat-container{
  border: solid 5px red;
}
.front-logo{
  margin-top: 10px;
  width: 110px;
  height: 60px;
}


.leaderboard-card{
  border: 3px solid black;
  display: flex;
  width: 500px;
  height: 400px;
  flex-flow: column;
  margin-top: 20px;
  margin-bottom: 20px;
}
.food-form{
  width: 600px;
  height: 700px;
}


.slot{
  background: rgba(159, 159, 159, 0.502);
}
.leaderboard-card p{
  height: 75px;
  justify-content: center;
  align-content: center;
  margin:5px 0px 5px 0px;
  padding-top: 15px;
  padding-left: 5px;
}

.form{
    width: 750px;
    display: flex;
    flex-flow: column wrap;
    margin-left: 350px;
  }
.name{
  height:100px;
}
.input{
  padding: 20px;
}
.food-form{
text-align: center;
}
.input-title{
  margin-left: 350px;
}
.aba-title{
  display:flex;
  align-content: center;
  justify-content: center;
}
.teams-title{
  display:flex;
  align-content: center;
  justify-content: center;
}

.team-container{
    display: flex;
    flex-flow: wrap;
}

.widget-container{
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  align-content: center;
}
.widget-container h1 h2 h3 h4{
  font-size: 30px;
}
